@page "/"

@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using BlazorTest.Models

@inject IConfiguration Configuration
@inject IOptions<AppSettingsOptions> AppSettings

<h1>Hello, Auxx!</h1>

<p>@mos</p>
<p>@whereAmI</p>
<p>@appName</p>

<div>
    <img src="images/the_duke.jpg"/>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />


@code {

    private string mos = string.Empty;
    private string whereAmI = string.Empty;
    private string appName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var appSettings = AppSettings.Value;

        appName = appSettings.ApplicationName;

        mos = $"{@Configuration["auxx-mos"]} - {Configuration["ApplicationName"]} - ConfigurationContext: {Configuration["ConfigurationContext"]}";
        whereAmI = @Configuration["WhereAmI"];

    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    mos = @Configuration["auxx-mos"];
    //}
}